* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.instructions{
  width: 80%;
  margin: 0 auto;
}

.instructions > p{
 text-align: left;
}

fieldset{
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

button{
  height: 2em;
  width: 50%;
  margin: .8em auto;
  font-size: 1.6em;
}

label, .outputBox{
  display: block;
}

.outputBox{
  width: 80%;
  min-height: 6em;
  margin: 0 auto;
  border: 1px solid #333;
  text-align: left;
  padding: .6em;
  margin-bottom: 2em;
}